<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e25fd9ad-2944-418f-a428-3cab33b23883/resourceGroups/webapi/providers/Microsoft.Web/sites/CoffeeShop01New</ResourceId>
    <ResourceGroup>webapi</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://coffeeshop01new.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>a7dfdaaf-9215-49e2-8fba-6c548ee33f9f</ProjectGuid>
    <PublishUrl>https://coffeeshop01new.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CoffeeShop01New</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>